<section class=" section1 ">
  <div class="container-fluid" style="background: rgba(255, 255, 255,0.8)">
    <div class="row">
      <div class="col-md-2 " style="margin-top: 80px;background: rgba(255, 255, 255,0.5)">

        <table class="table ">

          <thead class="table-dark">
          <tr>
            <td>Chức Năng</td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><h6>Quản lý khách hàng <i class="fa fa-angle-down" style="font-size:24px"></i></h6></td>
          </tr>
          <tr>
            <td><i class="fa fa-arrow-right" style="font-size:15px"></i>Thanh toán</td>
          </tr>
          <tr>
            <td><i class="fa fa-arrow-right" style="font-size:15px"></i>Lịch sử giao dịch</td>
          </tr>
          <tr></tr>
          <tr>
            <td><h6>Quản trị viên <i class="fa fa-angle-down" style="font-size:24px"></i></h6></td>
          </tr>
          <tr>
            <td><i class="fa fa-arrow-right" style="font-size:15px"></i>Thông tin admin</td>
          </tr>
          <tr>
            <td><i class="fa fa-arrow-right" style="font-size:15px"></i>Quản lí nhân viên</td>
          </tr>
          <tr></tr>

          <tr>
            <td><h6>Quản lí nhân viên <i class="fa fa-angle-down" style="font-size:24px"></i></h6></td>

          </tr>
          <tr>
            <td><i class="fa fa-arrow-right" style="font-size:15px"></i>Quản lí khách hàng</td>
          </tr>
          <tr>
            <td><i class="fa fa-arrow-right" style="font-size:15px"></i>Quản lí bán vé</td>
          </tr>
          <tr>
            <td><i class="fa fa-arrow-right" style="font-size:15px"></i>Đặt vé</td>
          </tr>
          <tr>
            <td><i class="fa fa-arrow-right" style="font-size:15px"></i>Thống kê</td>
          </tr>
          </tbody>
        </table>

      </div>

      <div class="col-md-6 order-md-1" style="margin-top: 80px ">
        <h4 class="mb-3 text-muted">Thêm Mới Khách Hàng</h4>


        <form [formGroup]="customer" (ngSubmit)="save()" class="needs-validation was-validated" novalidate="">


          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="username">Họ và tên <span class="text-danger">(*)</span>:</label>
              <div class="input-group">
                <input type="text" class="form-control" id="username" placeholder="Nhập tên"
                       formControlName="nameCustomer" required>
              </div>
              <div class="text-danger" *ngFor="let validation of validation_messages.nameCustomer">
                <div class="valid"
                     *ngIf="customer.get('nameCustomer').hasError(validation.type) && (customer.get('nameCustomer').dirty || customer.get('nameCustomer').touched)">
                  {{validation.message}}</div>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="firstName">Email <span class="text-danger">(*)</span>: </label>
              <input type="text" class="form-control" id="firstName" placeholder="abc@gmail.com"
                     formControlName="emailCustomer"
                     required="">
              <div class="text-danger" *ngFor="let validation of validation_messages.emailCustomer">
                <div class="valid"
                     *ngIf="customer.get('emailCustomer').hasError(validation.type) && (customer.get('emailCustomer').dirty || customer.get('emailCustomer').touched)">
                  {{validation.message}}</div>
              </div>
            </div>
          </div>


          <div class="d-block my-3 d-flex ">
            <label>Giới tính <span class="text-danger">(*)</span>: </label>
            <div class="custom-control custom-radio  mx-2 ">
              <mat-radio-group formControlName="genderCustomer">
                <mat-radio-button value='true' class="mx-2">Nam 🙎‍♂</mat-radio-button>
                <mat-radio-button value='false' class="mx-2">Nữ 🙎🏻‍♀</mat-radio-button>
                <mat-radio-button value='null' class="mx-2">Khác ⚧</mat-radio-button>
                <span *ngIf="customer.get('genderCustomer').hasError('required')" class="validator">
                  Lưu ý : chọn giới tính.
                </span>
              </mat-radio-group>
            </div>
          </div>


          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="Name">Điện Thoại <span class="text-danger">(*)</span>: </label>
              <input type="text" class="form-control" id="Name" placeholder="Nhập số điện thoại"
                     formControlName="phoneCustomer"
                     required="">
              <div class="text-danger" *ngFor="let validation of validation_messages.phoneCustomer">
                <div class="valid"
                     *ngIf="customer.get('phoneCustomer').hasError(validation.type) && (customer.get('phoneCustomer').dirty || customer.get('phoneCustomer').touched)">
                  {{validation.message}}</div>
              </div>
            </div>

            <div class="col-md-6 mb-3">
              <label for="lastName">Ngày sinh <span class="text-danger">(*)</span>:</label>
              <span *ngIf="customer.get('birthdayCustomer').hasError('required')" class="validator float-right">
                                        Lưu ý : chọn ngày sinh.
                </span>
              <input type="date" class="form-control" id="lastName" placeholder=""  required=""
                     formControlName="birthdayCustomer">
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="address">Địa chỉ <span class="text-danger">(*)</span>: </label>
              <input type="text" class="form-control" id="address" placeholder="Nhập địa chỉ" required=""
                     formControlName="addressCustomer">
              <span *ngIf="customer.get('addressCustomer').hasError('required')
               && (customer.get('addressCustomer').dirty || customer.get('addressCustomer').touched)"
                    class="validator">
               Vui lòng nhập địa chỉ!
                </span>
            </div>
            <div class="col-md-6 mb-3">
              <label for="last">CMND - Passport <span class="text-danger">(*)</span>:</label>
              <input type="text" class="form-control" id="last" placeholder="Nhập CMND" value="" required=""
                     formControlName="idCardCustomer">
              <div class="text-danger" *ngFor="let validation of validation_messages.idCardCustomer">
                <div class="valid"
                     *ngIf="customer.get('idCardCustomer').hasError(validation.type) && (customer.get('idCardCustomer').dirty || customer.get('idCardCustomer').touched)">
                  {{validation.message}}</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="customer-type">Loại khách hàng <span class="text-danger">(*)</span>:</label>
              <select name="" id="customer-type" required="" class="form-control" formControlName="customerType">
                <option selected disabled value="">--Chọn--</option>
                <option *ngFor="let type of customerType" [ngValue]="type.id">{{type.nameCustomerType}}</option>
              </select>
              <span *ngIf="customer.get('customerType').hasError('required')
               && (customer.get('customerType').dirty || customer.get('customerType').touched)"
                    class="validator">
      Vui lòng chọn loại khách hàng!
                </span>
            </div>
            <div class="col-md-6 mb-3">
              <label for="country">Quốc tịch <span class="text-danger">(*)</span>:</label>
              <select class="form-control" id="country" formControlName="countries" required="">
                <option selected value="">--Chọn--</option>
                <option *ngFor="let type of country" [ngValue]="type.id">{{type.country}}</option>
              </select>
              <span *ngIf="customer.get('countries').hasError('required')
               && (customer.get('countries').dirty || customer.get('countries').touched)"
                    class="validator">
    Vui lòng chọn quốc tịch!
                </span>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-md-12  justify-content-md-center d-flex" >
                <button type="button" class="btn btn-secondary mx-md-3" data-toggle="modal" data-target="#exampleModal">Trở về
                </button>

              <button type="submit" class="btn btn-primary mx-md-3" [disabled]="customer.invalid">Lưu lại</button>
            </div>
          </div>

        </form>
      </div>

      <div class="col-md-4 order-md-2 mb-4" style="margin-top: 80px">
        <div class="col-md-12">

          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Thông tin về các chuyến bay:</span>

            <span class="badge badge-secondary badge-pill">3</span>
          </h4>
          <br>
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Đà Nẵng --> Hồ Chí Minh</h6>
                <small class="text-muted">18h --> 19h</small>
                <small class="text-muted">26/04/2022</small>
              </div>

              <span class="text-muted">2.700.000 vnđ</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Đà Nẵng --> Hà Nội</h6>
                <small class="text-muted">19h --> 20h</small>
                <small class="text-muted">26/04/202</small>
              </div>
              <span class="text-muted">2.700.000 vnđ</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Đà Nẵng --> Cần Thơ</h6>
                <small class="text-muted">20h --> 21h</small>
              </div>
              <span class="text-muted">1.200.000 vnđ</span>
            </li>
            <li class="list-group-item d-flex justify-content-between bg-light">
              <div class="text-success">
                <h6 class="my-0">Đà Nẵng --> TP.Vinh</h6>
                <small>Đang thực hiện...</small>
              </div>
              <span class="text-success">Đang bay...</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xác nhận hủy</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn trở lại không?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
        <button type="button" class="btn btn-danger" routerLink="/list-customer">Có</button>
      </div>
    </div>
  </div>
</div>



