<!--Navigation-->
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <a class="navbar-brand col-3" href="index.html">
          <img src="/assets/image-layout/C1021G1_Airline_Logo-removebg-preview.png" class="logo"/>
        </a>
      </div>
    </div>
    <div class="col-5"></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="col-6">
      <div class="row">
        <div class="loginInput">
          <div class="loginInput1">
            <i class="fa-solid fa-arrow-right-to-bracket" style="color: #dddddd"></i>
            <span class=" "><a
              style="color: #dddddd" href="">Đăng Ký</a></span>
            <span class="">|</span>
            <span class=" "><a
              style="color: #dddddd" href="">Đăng Nhập</a></span>
          </div>
        </div>
      </div>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link btn btn-outline-light border-0" href="#">CHUYẾN BAY CỦA TÔI</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-outline-light border-0" href="#">CHECK-IN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-outline-light border-0" href="#">DỊCH VỤ CHUYẾN
            BAY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-outline-light border-0" href="#">TIN TỨC</a>
        </li>
      </ul>
    </div>
  </div>

</nav>

