<!--carousel-->
<div id="slides" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#slides" data-slide-to="0" class="active"></li>
    <li data-target="#slides" data-slide-to="1"></li>
    <li data-target="#slides" data-slide-to="2"></li>
    <li data-target="#slides" data-slide-to="3"></li>
    <li data-target="#slides" data-slide-to="4"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://vj-prod-website-cms.s3.ap-southeast-1.amazonaws.com/ula3-1645684283598.png"
           alt="First slide">
      <div class="carousel-caption">
        <button type="button" class="btn btn-primary btn-lg">
          Khai báo di chuyển nội địa
        </button>
        <button type="button" class="btn btn-primary btn-lg">
          Khai báo xuất nhập cảnh
        </button>
      </div>
    </div>
    <div class="carousel-item ">
      <img src="https://vj-prod-website-cms.s3.ap-southeast-1.amazonaws.com/truyenthong61920x960-new-1649932007811.jpg"
           alt="Second slide">
    </div>
    <div class="carousel-item ">
      <img src="https://vj-prod-website-cms.s3.ap-southeast-1.amazonaws.com/topbanner1920x9600000-1649062570149.jpg"
           alt="Third slide">
    </div>
    <div class="carousel-item ">
      <img src="https://vj-prod-website-cms.s3.ap-southeast-1.amazonaws.com/topbanner1920x960vn-1649486017878.jpg"
           alt="Four slide">
    </div>
    <div class="carousel-item ">
      <img src="https://vj-prod-website-cms.s3.ap-southeast-1.amazonaws.com/topbanner1920x960vnnnnn-1648449294824.jpg"
           alt="Five slide">
    </div>
    <div id="booking" class="section">
      <div class="section-center">
        <div class="container">
          <div class="row">
            <div class="booking-form">
              <div class="form-header">
                <h1>Đặt vé</h1>
              </div>
              <form>
                <div class="form-group">
                  <div class="form-checkbox">
                    <label for="roundtrip">
                      <input type="radio" id="roundtrip" name="flight-type">
                      <span class="form-label">Khứ hồi</span>
                    </label>
                    <label for="one-way">
                      <input type="radio" id="one-way" name="flight-type">
                      <span class="form-label">Một chiều</span>
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <select class="form-control">
                    <option selected>Chọn</option>
                    <option>TP.Hồ Chí Minh</option>
                    <option>Đà Nẵng</option>
                    <option>Hà Nội</option>
                    <option>Hải Phòng</option>
                    <option>Nha Trang</option>
                  </select>
                  <span class="form-label">Điểm khởi hành</span>
                </div>
                <div class="form-group">
                  <select class="form-control">
                    <option selected>Chọn</option>
                    <option>TP.Hồ Chí Minh</option>
                    <option>Đà Nẵng</option>
                    <option>Hà Nội</option>
                    <option>Hải Phòng</option>
                    <option>Nha Trang</option>
                  </select>
                  <span class="form-label">Điểm đến</span>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input class="form-control" type="date">
                      <span class="form-label">Ngày đi</span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input class="form-control" type="date">
                      <span class="form-label">Ngày về</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <select class="form-control">
                        <option>Thường</option>
                        <option>Vip</option>
                      </select>
                      <span class="select-arrow"></span>
                      <span class="form-label">Hạng ghế</span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                      <span class="select-arrow"></span>
                      <span class="form-label">Người lớn</span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <select class="form-control">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                      <span class="select-arrow"></span>
                      <span class="form-label">Trẻ em</span>
                    </div>
                  </div>
                </div>
                <div class="form-btn">
                  <button class="btn btn-form">Tìm chuyến bay</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
