
<form  (ngSubmit)="Update()" [formGroup]="formForgotPs" >

  <div class = "container ">
    <div class="row">
      <div class="col-6 m-auto background">
        <div class="d-flex justify-content-center">

          <h1 class="mb-3">Quên mật khẩu</h1>
          <!--                <button style="background: transparent; border: none; padding: 0px"><i class="material-icons" style="font-size:36px;color:red">cancel</i></button>-->
        </div>
        <div class="mb-3">
          <label class="required">Email<span class="text-danger">(*)</span>:</label>
          <div class="input-group">
            <input type="text" formControlName="email" class="form-control" placeholder="Email" required=""><br>
          </div>
          <p style="color: red" *ngIf="emailNotExist &&!formForgotPs.get('email').errors?.email &&formForgotPs.get('email').value.length>0">Email không tồn tại.</p>
          <p style="color: red" *ngIf="formForgotPs.get('email').errors?.email">Trường này phải có định dạng Email.</p>
        </div>
        <div class="mb-3" >
          <label class="required">Mật khẩu <span class="text-danger">(*)</span>:</label>
          <div class="input-group">
            <input type="password" formControlName="password" class="form-control"  placeholder="Mật khẩu" >
          </div>
          <div *ngIf="checkPassword" style="color: red">
            Mật khẩu chưa đúng.
          </div>
        </div>
        <hr class="mb-4">
        <div class="mb-3" >
          <label class="required">Xác nhận mật khẩu <span class="text-danger">(*)</span>:</label>
          <div class="input-group">
            <input type="password" formControlName="confirmPassword" class="form-control"  placeholder="Xác nhận mật khẩu" >
          </div>
          <div *ngIf="checkPassword" style="color: red"
            style="color: red">Xác nhận mật chưa khớp với mật khẩu.
          </div>
        </div>
        <hr class="mb-4">
        <div class="mb-3 d-flex justify-content-center" >
          <button class="btn btn-primary" >Đổi</button>
        </div>
        <hr class="mb-4">
      </div>
    </div>
  </div>
</form>

