<footer >
  <div class="container-fluid" style="height: 250px">
    <div class="row text-center">
      <div class="col-md-4">
        <div style=" height: 30%" >
          <img src="/assets/image-layout/C1021G1_Airline_Logo__1_-removebg-preview.png" class="logo" />
        </div>
        <hr class="light">
        <div >
          <p>0236 6517 021</p>
          <p>c1021G1@codegym.vn</p>
          <p>Số 295 Nguyễn Tất Thành, Thanh Bình, Hải Châu, Đà Nẵng</p>
        </div>
      </div>
      <div class="col-md-4">
        <div style="height: 30%;margin-top: 29px;">
          <hr class="light">
          <h4>Phương thức thanh toán</h4>
          <hr class="light">
        </div>
        <div class="row">
          <div class="col-4">
            <img src="https://www.pnj.com.vn/design/themes/pnjrovski/media/images/payments/visa.svg"  width="100" >
          </div>
          <div class="col-4">
            <img src="https://www.pnj.com.vn/design/themes/pnjrovski/media/images/payments/mastercard.svg" class="logo-pay"  width="100">
          </div>
          <div class="col-4">
            <img src="https://www.pnj.com.vn/design/themes/pnjrovski/media/images/payments/jcb.svg" class="logo-pay"   width="100">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div style="height: 30%;margin-top: 29px;">
          <hr class="light">
          <h4>Liên hệ</h4>
          <hr class="light">
        </div>
      </div>

    </div>
  </div>
</footer>
