footer{
  /*background: rgba(217,26,33,1) !important;*/
  color: black;
  padding: 0;
  margin:0;
}
hr.light{
  border-top: 1px solid black;
  width: 90%;
}
.logo{
  width: 200px;
  height: 95px;
  top: 50%;
  max-width: 500px;
  object-fit: cover;
}
.light-100{
  border-top: 1px solid #d5d5d5;
  width: 100%;
}
.social a{
  font-size: 2.5em;
  padding: 0.6rem;
}
.fa-facebook-square{
  color: #3b5998;
}
.fa-twitter-square{
  color: #00aced;
}
.fa-google-plus-square{
  color: #dd4b39;
}
.fa-instagram{
  color: #d6249f;
}
.fa-youtube-square{
  color: #bb0000;
}
