<footer>
  <div class="container-fluid" style="height: 250px">
    <div class="row text-center">
      <div class="col-md-4">
        <div style=" height: 30%">
          <img src="/assets/image-layout/C1021G1_Airline_Logo__1_-removebg-preview.png" class="logo"/>
        </div>
        <hr class="light">
        <div>
          <p>0236 6517 021</p>
          <p>c1021G1@codegym.vn</p>
          <p>Số 295 Nguyễn Tất Thành, Thanh Bình, Hải Châu, Đà Nẵng</p>
        </div>
      </div>
      <div class="col-md-4">
        <div style="height: 30%;margin-top: 29px;">
          <hr class="light">
          <h3>Phương thức thanh toán</h3>
          <hr class="light">
        </div>
        <div class="row">
          <div class="col-4">
            <img src="https://www.pnj.com.vn/design/themes/pnjrovski/media/images/payments/visa.svg"
                 style="margin-right: -90px" width="100">
          </div>
          <div class="col-4">
            <img src="https://www.pnj.com.vn/design/themes/pnjrovski/media/images/payments/mastercard.svg"
                 style="margin-right: -30px" width="100">
          </div>
          <div class="col-4">
            <img src="https://www.pnj.com.vn/design/themes/pnjrovski/media/images/payments/jcb.svg"
                 style="margin-right: 30px" width="100">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div style="height: 30%;margin-top: 29px;">
          <hr class="light">
          <h3>Liên hệ</h3>
          <hr class="light">
        </div>
        <div class="row text-center padding">
          <div class="col-12">
            <p><b>Flow chúng tôi</b></p>
          </div>
          <div class="col-12 social padding">
            <a href="#"><i class="fab fa-facebook-square" ></i></a>
            <a href="#"><i class="fab fa-twitter-square"></i></a>
            <a href="#"><i class="fab fa-google-plus-square" ></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube-square" ></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
