


.table {
  background-color: white;
}
/*Table*/

.table a{
  text-decoration: none;
  color: black;
}
.table tbody tr:hover {

  background-color: beige;
  color: #403E10;
  font-weight: bold;

  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, 1px, 0);

  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  /*transition-timing-function: line;*/
}


/*Phân trang*/
.my-pagination /deep/ .ngx-pagination .current {
  background:dodgerblue;
}
